.kanban-board-container {
  display: flex;
  justify-content: center;
  background-color: #F4F6FA;
  padding: 0 10px;
  overflow: hidden;
}

.kanban-board {
  display: grid;
grid-template-columns: 1fr;
gap: 2rem;  justify-items: center; 
margin-top: 5rem;
}

.kanban-column {
  display: flex;
  flex-direction: column;
}

.column-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #555;
  font-weight: bold;
}

.status-message {
  font-size: 1.5em;
  color: #555;
  margin-top: 50px;
}

.status-message.error {
  color: red;
}

@media (min-width: 700px) {
  .kanban-board {
    grid-template-columns: repeat(2, 1fr); 

  }
}

@media (min-width: 1024px) {
  .kanban-board {
    grid-template-columns: repeat(3, 1fr); 

  }
}

@media (min-width: 1500px) {
  .kanban-board {
    grid-template-columns: repeat(4, 1fr); 
  }
}

@media (min-width: 1800px) {
  .kanban-board {
    grid-template-columns: repeat(5, 1fr); 
  }
}